header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

img {
    width: 8rem;
}

h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0;
}
h2 {
    margin-top: 10px;
    font-weight: 300;
}

.grow-text {
    font-weight: 500;
}