form {
  background-color: #1c6d44;
  padding: 10px;
  border-radius: 10px;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
      display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-conainer {
  margin: 1rem;
}

.input-name {
    margin-bottom: 5px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input {
  font-family: alan sans, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.719);
  border: 1px solid rgba(255, 255, 255, 0.719);;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px 20px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.719);
}

input:focus {
  color: white;
}

input[type="radio"],
input[type="date"]  {
    cursor: pointer;
    margin-left: 0;
}

.radio-input-text {
    cursor: pointer;
}

.help-text {
    margin-left: 2px;
  font-size: 1rem;
  color: rgb(151, 151, 151);
  cursor: help;
}


.help-text:hover {
  opacity: 0.8;
  text-decoration:underline;
}

.estimate-button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    font-family: alan sans;
    border: none;
    border-radius: 10px;
    background-color:#5cbb6c;
    transition: opacity 0.15s;
    cursor: pointer;
}

.estimate-button:hover {
    opacity: 0.8;
}


.estimate-button:active {
    opacity: 0.6;
}
