<table id="stocks-list">
  <tr>
    <th>Ticker / Stock</th>
    <th>Buy Date</th>
    <th>Buy Price</th>
    <th>Sell Date</th>
    <th>Sell Price</th>
    <th>Return %</th>
    <th>Initial Investment</th>
    <th>Current Value</th>
    <th>Profit</th>
  </tr>
  @for (stock of stockList(); track $index; let i = $index) {
  <tr class="row-base" [class.play]="play" [style.animationDelay.ms]="i * 70">
    <td>{{ stock.ticker }}</td>
    <td>{{ stock.buyDate | date:'yyyy-MM-dd' }}</td>
    <td>{{ stock.buyPrice | currency:'USD':'symbol':'1.2-2' }}</td>
    <td>{{ stock.sellDate | date:'yyyy-MM-dd' }}</td>
    <td>{{ stock.sellPrice | currency:'USD':'symbol':'1.2-2' }}</td>
    <td>{{ stock.returnPct | number:'1.2-2' }}%</td>
    <td>{{ stock.initialInvestment | currency:'USD':'symbol':'1.2-2' }}</td>
    <td>{{ stock.currentValue | currency:'USD':'symbol':'1.2-2' }}</td>
    <td>{{ stock.profit | currency:'USD':'symbol':'1.2-2' }}</td>
  </tr>
  }
</table>

@if (isLoading()) {
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
} @else if (stockList().length === 0) {
  <p class="no-data-filler">No data yet. Click Estimate to start.</p>
}
